.wrapper select.wrap{
    cursor: pointer;
    width: 100%;
    height: 40px;
    border-radius: 1px;
    background-color: white;
    box-shadow: 0 1px 1px rgb(0,0,0,0.2);
    border: none;
    margin-bottom: 25px;
    outline: none;
    font-size: 16px;
    padding: .6em 1.4em .5em .8em;
    z-index: 1;
    color: rgb(94, 92, 92);
  }
  .recentOrder{
  	position: absolute;
  	overflow-y: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 20px;
  }
 
  ::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
  }